.env.*
.httr-oauth
.quarto/
.Rapp.history
.RData
.RDataTmp
.Renviron
.Rhistory
.Rproj.user/
.Ruserdata
.vscode/
*_cache/
*-Ex.R
*.backup
*.bak
*.cnf
*.dump
*.env
*.knit.md
*.sql.gz
*.sql.zip
*.utf8.md
/_Admin_internal
/*.Rcheck/
/*.tar.gz
/cache/
DATABASE/FIELD_2026_BADOatNZ_7230743.sql