

#map_nests_show {
  height: calc(93vh - 1px) !important;
}

#overview_show {
  height: 50vh !important;
  max-height: 50vh !important;
  overflow: hidden;
}

#overview_show img {
  height: 100% !important;
  max-height: 100% !important;
  object-fit: contain;
}

table.dataTable tbody td {
  word-wrap: break-word;
  white-space: normal;
}

.custom-tooltip {
  position: relative;
  cursor: pointer;
}

.custom-tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  right: 105%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.4;
  white-space: pre-wrap;
  z-index: 1000;
  max-width: 350px;
  min-width: 250px;
  text-align: left;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.custom-tooltip:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 95%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent;
}
